/.idea
/*.BAK
/*.MAP
/*.OBJ
/*.O
/*.EXE
/*.PIF
/*.TXT
/*.SWP
/*.$ln
/GRAPHIC/*.BAK
/GRAPHIC/*.MAP
/GRAPHIC/*.OBJ
/GRAPHIC/*.O
/GRAPHIC/*.EXE
/MENU/*.BAK
/MENU/*.MAP
/MENU/*.OBJ
/MENU/*.O
/MENU/*.EXE
/FOREXEC/*.BAK
/FOREXEC/*.C
/FOREXEC/*.O
/FOREXEC/*.EXE