/*.bak
/*.map
/*.obj
/*.o
/*.exe
/*.pif
/*.txt
/*.swp
/*.$ln
/GRAPHIC/*.bak
/GRAPHIC/*.map
/GRAPHIC/*.obj
/GRAPHIC/*.o
/GRAPHIC/*.exe
/MENU/*.bak
/MENU/*.map
/MENU/*.obj
/MENU/*.o
/MENU/*.exe
/FOREXEC/*.bak
/FOREXEC/*.c
/FOREXEC/*.o
/FOREXEC/*.exe